[package]
name = "binoxxo-webapp-seed"
version = "0.3.0"
authors = ["Martin Suesskraut <martin.suesskraut@gmail.com>"]
edition = "2018"
readme = "README.md"
license = "MIT"
description = "Binoxxo puzzle game as a webapp using wasm and seed"
repository = "https://github.com/msuesskraut/binoxxo-webapp-seed"
homepage = "https://msuesskraut.github.io/binoxxo/"

[lib]
crate-type = ["cdylib"]

[dependencies]
seed = "0.6.0"
wasm-bindgen = "0.2.58"
binoxxo = { version = "0.2.1", features = ["wasm-bindgen"] }
fluent-bundle = "0.10.2"
unic-langid = { version = "0.8.0", features = ["macros"] }
elsa = "1.3.2"
lazy_static = "1.4.0"

# For serialization, eg sending requests to a server. Otherwise, not required.
serde = "1.0.104"
serde_derive = "1.0.104"
serde_json = "1.0.48"

[dependencies.web-sys]
version = "^0.3.35"
features = [
    "Blob",
    "Event",
    "EventTarget",
    "File",
    "FileList",
    "FormData",
    "HtmlInputElement",
]

[dev-dependencies]
wasm-bindgen-test = "0.3.8"
