$base_color : #202020;
$fixed_color : darken($base_color, 80%);
$guess_color : #009900;

$phone: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

body {
    background-color: #efefef;
    color: $base_color;
}

h1 {
    text-align: center;
}

.language-switch {
    float: right;
    font-size: 300%;
    cursor: pointer;
    color: lighten(black, 40%);
}

game-msg {
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

#board {
    table {
        margin: 2em;
        border-collapse: collapse;

        td {
            border: 1px solid $base_color;
            padding: 1em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;
            color: $fixed_color;
            cursor: default;
            text-align: center;

            @media #{$desktop} {
                font-size: 120%;
            }
            @media #{$tablet} {
                font-size: 120%;
            }
            @media #{$phone} {
                font-size: 80%;
            }
        }
        td.guess {
            color: $guess_color;
            cursor: pointer;
        }
    }
}
