$base_color : #202020;
$fixed_color : darken($base_color, 80%);
$guess_color : #009900;
$error_color : red;

$phone: "screen and (max-width: 767px)";
$tablet: "screen and (min-width: 768px) and (max-width: 1023px)";
$desktop: "screen and (min-width: 1024px)";

body {
    background-color: #efefef;
    color: $base_color;
}

h1 {
    text-align: center;
}

.language-switch {
    float: right;
    font-size: 300%;
    cursor: pointer;
    color: lighten(black, 40%);
}

.board {
    table {
        border: 3px solid;
        border-spacing: 0px;

        td {
            border: 1px solid;
            padding: 1em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;
            cursor: default;
            text-align: center;
        }
    }
}

#board {
    @extend %board;
    table {
        margin: 2em;
        border-collapse: separate;
        border-color: lighten($base_color, 66%);

        td {
            border-color: lighten($base_color, 66%);
            color: $fixed_color;

            @media #{$desktop} {
                font-size: 120%;
            }
            @media #{$tablet} {
                font-size: 120%;
            }
            @media #{$phone} {
                font-size: 80%;
            }
        }
        td.guess {
            color: $guess_color;
            cursor: pointer;
        }
        td.error {
            color: $error_color;
            border-color: $error_color;
        }
    }
    table.error {
        color: $error_color;
        border-color: $error_color;
    }
}

#board-success {
    @extend %board;
    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;

        td {
            @media #{$desktop} {
                font-size: 90%;
            }
            @media #{$tablet} {
                font-size: 90%;
            }
            @media #{$phone} {
                font-size: 60%;
            }
        }
    }
}

.footer {
    text-align: center;
    color: dimgray;
    font-size: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    a {
        color: dimgray;
        :hover {
            text-underline-position: below;
        }
    }
}

 // The Overlay (is fixed, seed renders it on demand)
.overlay {
    height: 100%;
    width: 100%;
    position: fixed; // Stay in place
    z-index: 1; // Sit on top
    left: 0;
    top: 0;
    background-color: black; // Black fallback color
    background-color: fade-out(black, 0.2); //scale-color(black, $alpha: 80%); // Black w/opacity
    overflow-x: hidden; // Disable horizontal scroll
    display: block; // always shown - seed just includes it on demand

    // Position the content inside the overlay
    .overlay-content {
        position: relative;
        top: 10%; // 10% from the top
        width: 100%; // 100% width
        text-align: center; // Centered text/links
        margin-top: 30px; // 30px top margin to avoid conflict with the close button on smaller screens
        @media #{$phone} {
            top: 1em; // on phones 1 line from the top
        }
    }
}